.error {color: #FF0000;}

h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 30px;
}

#ref {
	font-family: cursive, comic sans ms, serif;
	font-size: 18px;
	text-decoration: none;
 -moz-transition: color 0.2s 0.02s ease;
 -o-transition: color 0.2s 0.02s ease;
 -webkit-transition: color 0.2s 0.02s ease;
 color:#8000ff;
 
 }
 
#ref:hover {
 color: #ff6f5b;
 }

.regform {
	 position:absolute;
    top:35%;
    right:0;
    left:0;
text-align: center;
}
	
input{
	text-align: center;
    font:18px Trebuchet MS, Arial, Helvetica, Sans-Serif;
    color:#6B6B6B;
/* отключаем бордюры у инпутов и текстового поля */
    border: none;
/* закругляем углы полей ввода */
    -moz-border-radius:.3em;
    -webkit-border-radius:.3em;
    border-radius:.3em;		
    background-color: #F7F7F7;
    padding:3px;
/* добавляем внутренние тени у инпутов и текстового поля */
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    color: #5B5B5B;
}
input {
/* устанавливаем ширину инпутов */
    width:224px;
}
/* изменяем оформление полей ввода при фокусе */
input:focus{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #F2F2F2;
    color: #333;
}

#login_button {
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
} 
#login_button:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
#login_button:active { background: rgb(152,15,0); } /* при нажатии */

