*
{
	font-family: Comic Sans MS, Arial;
}

html
{
	height: 100%;
}

body
{
	background: url(../source/background.jpg) no-repeat;
	background-size: 100%;
	margin: 0;
	height: 100%;
}

.wrapper
{
	display: table;
	
	width: 100%;
	height: 100%;
}

.header
{
	display: table-row;
	
	height: 1px;
}

.report
{
	display: table-row;
	
	height: 80px;
	
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
	font-weight: bold;
}

.content
{
	display: table;
	table-layout: fixed;
	height: 100%;
}

.left
{
	display: table-cell;
	
	width: 50%;
}

.middle
{
	display: table-cell;
	
	vertical-align: top;
}

.right
{
	display: table-cell;
	vertical-align: top;
	
	width: 50%;
}

.footer
{
	display: table-row;
	height: 1px;
}

.copyright
{
	margin: 0 auto;
	border-top: 1px solid black;
	background-color: white;
	opacity: 0.6;
	font-size: 14px;
	
	text-align: center;
}

.game_form
{
	border: 2px solid black;
	background-color: white;
	
    padding: 13px;
	margin-top: 12px;
	
	text-align: center;
}

.user_guess
{
	font-size: 60px;
	font-weight: bold;
	
	border: 2px solid black;
	padding: 5px;
	
	text-align: center;
	width: 3em;
	
	background-color: #ddd;
}
.user_guess:focus
{
	outline: none;
}

.history
{
	border: 2px solid black;
	padding: 5px;
	
	overflow-y: auto;
	background-color: #FFEE67;	
	font-size: 20px;
	
	width: 12em;
	height: 340px;
	
	margin-left: 100px;
}

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(159,97,232)),
									   color-stop(0.72, rgb(144,64,232)),
									   color-stop(0.86, rgb(117,12,232)));
}

input[type="submit"]
{
	cursor: pointer;
	outline: none;
	
	background-color: yellow;
	
	font-size: 20px;
	font-weight: bold;
	
	border: 2px solid black;
	
	margin-top: 15px;
	padding: 10px;
}

input[type="submit"]:hover
{
	background-color: red;
}

.link_button
{	
	border: 2px solid black;
	
	background-color: yellow;
	
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: black;
	
	text-align: center;
	
	padding: 10px;
	display: inline-block;
	margin: 10px;
}

.link_button:hover
{
	background-color: red;
}

.game_form, .user_guess, input[type="submit"], .link_button, .history
{
	/*opacity: 0.85;*/
	
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
}
