*
{
	font-family: Comic Sans MS, Arial;
}

body
{
	margin: 0;
}


.header
{
	width: 960px;
    height: 100px;
	background-color: #7DFDFE;
	
	margin: 0 auto;
}

.content
{
	width: 960px;
	margin: 0 auto;
}

.top
{
	height: 10%;
	
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	
	margin: 10px;
}

.middle
{
}

.game_form
{
	border: 2px solid black;
	
	width: 222px;
    margin-left: 354px;
    padding: 13px;
    float: left;
}

.game_form > form
{
	text-align: center;
}

.user_guess
{
	font-size: 60px;
	font-weight: bold;
	
	border: 2px solid black;
	padding: 5px;
	
	text-align: center;
	width: 3em;
	
	background-color: #ddd;
}
.user_guess:focus
{
	outline: none;
}

.history
{
	border: 2px solid black;
	padding: 5px;
	
	overflow-y: scroll;
	background-color: #FFEE67;	
	font-size: 20px;
	
	width: 12em;
	height: 340px;
	
	float: right;
}

.clear
{
	clear: both;
}

input[type="submit"]
{
	cursor: pointer;
	
	background-color: yellow;
	
	font-size: 20px;
	font-weight: bold;
	
	border: 2px solid black;
	
	margin-top: 15px;
	padding: 10px;
}

input[type="submit"]:hover
{
	background-color: red;
}

.div_button
{	
	border: 2px solid black;
	
	background-color: yellow;
	
	font-size: 20px;
	font-weight: bold;
	color: black;
	
	text-align: center;
	
	padding: 10px;
	
	display: inline-block;
}

.div_button:hover
{
	background-color: red;
}

.game_form, .user_guess, input[type="submit"], .div_button, .history
{
	border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    -ms-border-radius:10px;
}

.login
{	
	position:absolute;
    top:15%;
    left:5%;
}

.div_button_sign_out
{	
	position:absolute;
    top:25%;
    left:5%;
}
